@charset "ISO-8859-1";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Container Styles */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Styles */
.signup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Input Styles */
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="password"],
.signup select,
.signup input[type="submit"] {
    width: calc(100% - 22px); /* Adjusted width to accommodate border */
    padding: 10px;
    margin: 0 0 10px; /* Removed margin-bottom to avoid redundancy */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup input[type="text"]:focus,
.signup input[type="email"]:focus,
.signup input[type="number"]:focus,
.signup input[type="password"]:focus,
.signup select:focus,
.signup input[type="submit"]:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Answer Field Styles */
.signup input[name="answer"] {
    width: calc(100% - 22px); /* Adjusted width to accommodate border */
}

.signup input[name="answer"]:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Submit Button Styles */
.signup input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.signup input[type="submit"]:hover {
    background-color: #45a049;
}

/* Message Styles */
.whyforgotPassword {
    margin-top: 20px;
    text-align: center;
}

.whyforgotPassword h1 {
    color: #FF0000;
}

.whyforgotPassword h4 {
    color: #333;
}

.whyforgotPassword h5 {
    color: #555;
}
